{% extends "aplicacao/navbar.html" %}
{% block head %}
<style>
    .content{
        height:80px; 
        width: 90%; 
        margin:auto;
    }
</style>
{% endblock head %}
{% block content %}

<div style="width:100%; justify-content: center; align-items: center;"> 
<form style="display:flex; flex-direction: column;" class="content">
    <input style="margin-top:10px" placeholder="id do cliente"></input>
    <input type="text" style="margin-top:10px" placeholder="nome do cliente"></input>
</form>
{% for predeftext in predeftexts %}
<div class="content">
        
</div>
{% endfor %}
</div>
<nav class="class=navbar fixed-bottom" style="background-color:#ccc; height:80px">
    <a class="btn btn-success btn-lg" style="max-width: 40%; max-height:80%; margin-top:15px; margin-left:20px" href="{% url 'index' %}">Cancelar</a>
    <a class="btn btn-success btn-lg" style="max-width: 40%; max-height:80%; margin-top:15px; margin-left:20px" href="{% url 'addclient' number %}">Enviar</a>
</nav>
{% endblock %}