{% extends "aplicacao/navbar.html" %}
{% block content %}
<script>
    function listtostring(products){
            let newProducts;
            console.log(products)
            newProducts =products[0][0] + ",-" + products[0][1] + ",-" + products[0][2] + ",-" + products[0][3] + ",-" + products[0][4] + ",-" + products[0][5] ;
            if (products[0][6].length === 0){
                newProducts = newProducts + ",-|"
            } else {
                newProducts = newProducts + ",-" + products[0][6][0] 
                for (let i = 1; i < products[0][6].length; i++){
                    newProducts = newProducts + ".-" + products[0][6][i]
                }
                newProducts = newProducts + "|"
            }
            for (let i = 1; i < products.length - 1; i++){
                newProducts = newProducts + products[i][0] + ",-" + products[i][1] + ",-" + products[i][2] + ",-" + products[i][3] + ",-" + products[i][4] + ",-" + products[i][5] + ",-" ;
                if ((products[i][6] === "" && products[i][6].length === 1)|| products[i][6].length === 0){
                    newProducts = newProducts + "|";
                } else {
                    newProducts = newProducts + products[i][6][0];
                    for (let j = 1; j < products[i][6].length; j++ ){
                        newProducts = newProducts + ".-" +  products[i][6][j];
                    }
                    newProducts = newProducts + "|";
                }
            }
            newProducts = newProducts + products[products.length - 1] + "; path=/commands";
            document.cookie = "products=" + newProducts;
        };
    function getproducts(){
            let cookies = document.cookie.split("; ");
            for (let cookie of cookies){
                const [name, value] = cookie.split("=");
                if (name === "products"){
                    let products = value.split("|");
                    for (let i = 0; i < products.length - 1; i++){
                        products[i] = products[i].split(",-");
                        products[i][6] = products[i][6].split(".-");
                    }
                    console.log(products)
                    return products
                }
            }
            return null
    }
    function addtext(){
        let listen = getproducts()
        let text = document.querySelector("#inputtext").value
        console.log(listen['{{indexofproduct}}'])
        let textlisten = listen['{{indexofproduct}}'][6]
        let permission = true
        for(let i = 0; i < listen['{{indexofproduct}}'][6].length; i++){
            if (text === listen['{{indexofproduct}}'][6][i]){
                permission = false
                break
            } else if (listen['{{indexofproduct}}'][6][i] === ""){
                textlisten[i] = text
                permission = false
                break
            }
        }
        if (permission){
            textlisten.push(text);
        }
        console.log(textlisten)
        listen['{{indexofproduct}}'][6] = textlisten
        listtostring(listen)
        location.reload()
    }
    function removetext(text){
        let listen = getproducts()
        let textlisten = []
        for(let i = 0; i < listen['{{indexofproduct}}'][6].length; i++){
            if (text !== listen['{{indexofproduct}}'][6][i] && listen['{{indexofproduct}}'][6][i] !== ""){
                textlisten.push(listen['{{indexofproduct}}'][6][i])
            }
        }
        listen['{{indexofproduct}}'][6] = textlisten
        listtostring(listen)
        location.reload()
    }
    function changetext(text, index){
        let checkbox = document.querySelectorAll(".checkbox")[index];
        let listen = getproducts();
        if (checkbox.checked){
            if (listen['{{indexofproduct}}'][6][0] === "" || listen['{{indexofproduct}}'][6].length === 0){
                listen['{{indexofproduct}}'][6][0] = text;
            } else {
                listen['{{indexofproduct}}'][6].push(text);
            }
        } else {
            let textlisten = [];
            for(let i = 0; i < listen['{{indexofproduct}}'][6].length; i++){
                if (text !== listen['{{indexofproduct}}'][6][i]){
                    textlisten.push(listen['{{indexofproduct}}'][6][i]);
                }
            }
            listen['{{indexofproduct}}'][6] = textlisten
        }
        listtostring(listen)
        
    }
</script>
<div style="display:flex; align-items:center; flex-wrap: wrap; justify-content: center">
    {% for predeftext in predeftexts %}
         <div class="" style="display:flex; width: 90%;height:80px; background-color:#ccc; margin:auto; margin-bottom:5px">
             <div style="display:flex; height: 100%; width: auto; align-items: center; flex-grow: 1">
                 <h2>{{predeftext.text}}</h2>    
             </div>
             <form style="display: flex; justify-content: center; align-items: center; height: 100%; width: 50px;">
                 <input class="checkbox" style="width: 30px; height: 30px;" type="checkbox" onchange="changetext('{{predeftext.text}}', '{{predeftext.cod}}')"{% if predeftext.active %} checked{% endif %}>
             </form>
        </div>
    {% endfor %}
    {% for text in texts %}
        <div class="" style="display:flex; width: 90%;height:80px; background-color:#ccc; margin:auto; margin-bottom:5px">
            <div style="display:flex; height: 100%; width: auto; align-items: center; flex-grow: 1">
                <h2>{{text.text}}</h2>    
            </div>
            <button style="height: 100%; width: 90px;" onclick="removetext('{{text.text}}')">Excluir</button>
        </div>
    {% endfor %}
        <div class="" style="display:flex; width: 90%;height:80px; background-color:#ffffff; margin:auto; margin-bottom:5px">
            <form style="display:flex; height: 100%; width: auto; align-items: center; flex-grow: 1">
                <input id="inputtext" style="margin-right: 10px; flex-grow: 1; height: 35px;">
                    <h2>{{predeftext.text}}</h2>
                </input>
            </form>
            <button style="height: 100%; width: 90px; height: 37px; margin-top: 21px" onclick="addtext()">Adicionar</button>
        </div>
</div>
<nav class="class=navbar fixed-bottom" style="background-color:#ccc; height:80px">
    <a class="btn btn-success btn-lg" style="max-width: 40%; max-height:80%; margin-top:15px; margin-left:20px" href="{% url 'orderrevision' number %}">Voltar</a>
        
</nav>
{% endblock %}