{% extends "aplicacao/navbar.html" %}
{% block content %}
<script>
    function getproducts(){
            let cookies = document.cookie.split("; ")
            for (let cookie of cookies){
                const [name, value] = cookie.split("=")
                if (name === "products"){
                    let products = value.split("|")
                    for (let i = 0; i < products.length - 1; i++){
                        console.log(products)
                        products[i] = products[i].split(",-")
                    }
                    return products
                }
            }
            return null
    }
    function addremovetext(text, index){
        console.log(index)



    }
    function changetext(text, index){
        console.log(index)
    }
</script>
<div style="display:flex; align-items:center; flex-wrap: wrap; justify-content: center">
    {% for predeftext in predeftexts %}
            <div class="" style="display:flex; width: 90%;height:80px; background-color:#ccc; margin:auto; margin-bottom:5px">
                <div style="display:flex; height: 100%; width: auto; align-items: center; flex-grow: 1">
                    <h2>{{predeftext.text}}</h2>    
                </div>
                <form style="display: flex; justify-content: center; align-items: center; height: 100%; width: 50px;">
                    <input style="width: 30px; height: 30px;" type="checkbox" onchange="changetext('{{predeftext.text}}', '{{predeftext.cod}}')"{% if predeftext.active %} checked{% endif %}>
                </form>
            </div>
    {% endfor %}
    <div>
    </div>
</div>
<nav class="class=navbar fixed-bottom" style="background-color:#ccc; height:80px">
    <a class="btn btn-success btn-lg" style="max-width: 40%; max-height:80%; margin-top:15px; margin-left:20px" href="{% url 'orderrevision' number %}">Voltar</a>
        
</nav>
{% endblock %}