{% extends "aplicacao/navbar.html" %}
{% load static %}
{% block content %}
{% if not empty %}
    <script src="{% static 'js/products.js' %}"></script>
    <div style="display:flex; align-items:center; flex-wrap: wrap; justify-content: center">
    {% for product in products %}
        {% if product.tipe != "SIZE" %}
            <button onclick="insertProduct('{{product.name}}', '{{product.category}}', '{{product.tipe}}', '{{product.price}}', '{{product.printer}}', 'NORMAL', '{{number}}')" style="display:flex; background-color:#ccc; color:#000; text-decoration:none; width:150px; height:100px; margin:10px; position:relative; border: none;"><p style="position:absolute; top: 3px; left: 3px;">{{product.name}}</p><p style="position: absolute; right:3px; bottom: 1px;">{{product.price}}</p></button>
        {% else %}
            <a href="{% url 'categorysizes' number cod product.name product.printer %}" style="display:flex; background-color:#ccc; color:#000; text-decoration:none; width:150px; height:100px; margin:10px; position:relative"><p style="position:absolute; top: 3px; left: 3px;">{{product.name}}</p></a>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}
    <nav class="class=navbar fixed-bottom" style="background-color:#ccc; height:80px">
        <a class="btn btn-success btn-lg" style="max-width: 40%; max-height:80%; margin-top:15px; margin-left:20px" href="{% url 'orderrevision' number %}">Revisar pedido</a>
        
    </nav>
{% endblock %}