{% extends "aplicacao/navbar.html" %}



{% block content %}
    <script>
        function listtostring(payments){
            let newPayments;
            console.log(payments)
            newPayments = payments[0][0] + ".=" + payments[0][1] ;
            for (let i = 1; i < payments.length - 1; i++){
                newPayments = newPayements + ",=" + products[i][4] + ".=";
                }
            }
            document.cookie = "payments=" + newProducts;
            document.cookie = "paymentscommand=" + "{{number}}";
        };
    </script>
    <div class="container-fluid" style="height:50px ;background-color:#ccc; max-width:90%; margin-top:10px; display:flex;">
        <div style="text-align: center; width:200px; padding:15px">Tipo de pagament</div>
        <div style="text-align: center; width:200px; padding:15px">quantidade</div>
    </div>
    {% if pagmentson %}
    {% for pagment in pagments %}
        <div class="container-fluid" style="height:50px ;background-color:#ccc; max-width:90%; margin-top:10px; display:flex;">
            <div style="text-align: center; width:300px; padding:15px">{{product.tipe}}</div>
            <div style="text-align: center; width:300px; padding:15px">{{product.quantity}}</div>
        </div>
    {% endfor %}
    {% endif %}
        <div class="" style="display:flex; width: 90%;height:80px; background-color:#ffffff; margin:auto; margin-bottom:5px">
            <form style="display:flex; height: 100%; width: auto; align-items: center; flex-grow: 1">
                <input id="inputtext" style="margin-right: 10px; flex-grow: 1; height: 35px;">
                    <h2>{{predeftext.text}}</h2>
                </input>
            </form>
            <button style="height: 100%; width: 90px; height: 37px; margin-top: 21px" onclick="addpayment()">Adicionar</button>
        </div>
    <nav class="class=navbar fixed-bottom" style="background-color:#ccc; height:80px">
        <a class="btn btn-success btn-lg" style="max-width: 40%; max-height:80%; margin-top:15px; margin-left:20px" href="{% url 'neworder' number %}">Adicionar produto</a>
        
        <a class="btn btn-success btn-lg" style="max-width: 40%; max-height:80%; margin-top:15px; margin-left:20px" href="{% url 'addclient' number %}">Adicionar cliente</a>
    </nav>
{% endblock content%}

