{% extends "aplicacao/navbar.html" %}


{% block head %}
    <style>
        .div_list{
        height:50px;
        background-color:#ccc; 
        max-width:90%;
        margin-top:10px;
        display:flex;
        }
        .div_elementlist{
            text-align: center; 
            width:300px; 
            padding:15px;
        }
    </style>
{% endblock head %}
{% block content %}
    <script>
        function listtostring(payments){
            let newPayments;
            newPayments = payments[0][0] + ",-" + payments[0][1] ;
            for (let i = 1; i < payments.length - 1; i++){
                newPayments = newPayments + ".-" + payments[i][0] + ",-" + payments[i][1];
            }
            newPayments = newPayments + ".-{{number}}" 
            document.cookie = "paymentslist=" + newPayments + "; path=/commands";
            console.log("resultado de salvar:")
            console.log("paymentslist=" + newPayments + "; path=/commands")
        };
            /*let cookies = document.cookie.split("; ");
            for (let cookie of cookies){
                const [name, value] = cookie.split("=");
                if (name === "products"){
                    let products = value.split("|");
                    for (let i = 0; i < products.length - 1; i++){
                        products[i] = products[i].split(",-");
                        products[i][6] = products[i][6].split(".-");
                    }
                    console.log(products)
                    return products
                }
            }
            return null*/
        function getPayments(){
            let cookies = document.cookie.split("; ");
            for (let cookie of cookies){
                const [name, value] = cookie.split("=");
                if (name === "paymentslist"){
                    let payments = value.split('.-')
                    
                    for (let i = 0; i < payments.length - 1; i++){
                        payments[i] = payments[i].split(',-')
                    }
                    return payments
                }
            }
            return null
        };
        function addPayment(){
            let input = document.querySelector("#inputtext");
            let price = input.value;
            let payments = [];
            let command = "0";
            payments = getPayments();
            if (payments != null){
                if (payments[payments.length - 1] == "{{number}}"){
                    command = payments[payments.length - 1];
                    payments = payments.slice(0, payments.length - 1);
                    payments.push(["Dinheiro", price]);
                } else{
                    payments = [["Dinheiro", price]];
                }
            } else {
                payments = [["Dinheiro", price]];
            }
            console.log("resultado de adicionar:");
            payments.push("{{number}}");
            console.log(payments);
            let maindiv = document.createElement("div");
            maindiv.classList.add("container_fluid");
            maindiv.classList.add("div_list");
                
            let tipediv = document.createElement("div"); 
            tipediv.classList.add("div_elementlist");
            tipediv.innerHTML = "cartao";
                
            let pricediv = document.createElement("div");
            pricediv.classList.add("div_elementlist");
            pricediv.innerHTML = price;

            document.body.appendChild(maindiv);
            maindiv.append(tipediv);
            maindiv.append(pricediv);

            listtostring(payments);
        };
        
        function removePayment(){
            let payments = getpayments();
            let newPayments = [];
            //for (let i = 0; i < payments.length; i++){}
        };
        function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split('; ');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                    }
                }
            }
        return cookieValue;
        };

        function send(tipe) {
            const csrftoken = getToken('csrftoken');
             // Cria um novo elemento de formulário
            let form = document.createElement('form');
            document.body.appendChild(form);
            form.method = 'post';
            form.action = window.location.href;

            const csrfInput = document.createElement('input');
            csrfInput.type = 'hidden';
            csrfInput.name = 'csrfmiddlewaretoken';
            csrfInput.value = csrftoken;
            form.appendChild(csrfInput);

            const tipeInput = document.createElement('input');
            tipeInput.tipe = 'hidden';
            tipeInput.name = 'postTipe';
            tipeInput.value = tipe
            form.appendChild(tipeInput)
            form.submit();
        };
    </script>
    <div class="container-fluid div_list">
        <div class="div_elementlist">Tipo de pagamento</div>
        <div class="div_elementlist">quantidade</div>
    </div>
    <div class="container-fluid div_list">
        <div class="div_elementlist">Preço total:</div>
        <div class="div_elementlist">{{totalPrice}}</div>
    </div>
    <div class="" style="display:flex; width: 90%;height:80px; background-color:#ffffff; margin:auto; margin-bottom:5px">
        <form style="display:flex; height: 100%; width: auto; align-items: center; flex-grow: 1">
            <input id="inputtext" style="margin-right: 10px; flex-grow: 1; height: 35px;">
                <h2>{{predeftext.text}}</h2>
            </input>
        </form>
        <button style="height: 100%; width: 90px; height: 37px; margin-top: 21px" onclick='addPayment()'>Adicionar</button>
    </div>
    {% if pagmentson %}
    {% for pagment in pagments %}
        <div class="container-fluid div_list">
            <div class="div_elementlist">{{pagment.tipe}}</div>
            <div class="div_elementlist">{{pagment.quantity}}</div>
        </div>
    {% endfor %}
    {% endif %}
    
    <nav class="class=navbar fixed-bottom" style="background-color:#ccc; height:80px">
        <button class="btn btn-success btn-lg" style="max-width: 40%; max-height:80%; margin-top:15px; margin-left:20px" onclick="send('SEND')">Lançar pagamento</button>
        
        <button class="btn btn-success btn-lg" style="max-width: 40%; max-height:80%; margin-top:15px; margin-left:20px" onclick="send('CLOSE')">Fechar comanda</button>
    </nav>
{% endblock content%}

