{% extends "aplicacao/navbar.html" %}


{% block content %}
    <script>
        function getproducts(){
            let cookies = document.cookie.split("; ");
            for (let cookie of cookies){
                const [name, value] = cookie.split("=");
                if (name === "products"){
                    let products = value.split("|");
                    for (let i = 0; i < products.length - 1; i++){
                        products[i] = products[i].split(",-");
                        products[i][6] = products[i][6].split(".-");
                    }
                    products[products.length - 1] = products[products.length - 1].split(",-")
                    console.log(products)
                    return products
                }
            }
            return null
    }
        function listtostring(products){
            let newProducts;
            newProducts =products[0][0] + ",-" + products[0][1] + ",-" + products[0][2] + ",-" + products[0][3] + ",-" + products[0][4] + ",-" + products[0][5] ;
            console.log(products)
            if (products[0][6].length === 0){
                newProducts = newProducts + ",-|"
            } else {
                newProducts = newProducts + ",-" + products[0][6][0] 
                for (let i = 1; i < products[0][6].length; i++){
                    newProducts = newProducts + ".-" + products[0][6][i]
                }
                newProducts = newProducts + "|"
            }
            for (let i = 1; i < products.length - 1; i++){
                newProducts = newProducts + products[i][0] + ",-" + products[i][1] + ",-" + products[i][2] + ",-" + products[i][3] + ",-" + products[i][4] + ",-" + products[i][5] + ",-" ;
                if ((products[i][6] === "" && products[i][6].length === 1)|| products[i][6].length === 0){
                    newProducts = newProducts + "|";
                } else {
                    newProducts = newProducts + products[i][6][0];
                    for (let j = 1; j < products[i][6].length; j++ ){
                        newProducts = newProducts + ".-" +  products[i][6][j];
                    }
                    newProducts = newProducts + "|";
                }
            }
            newProducts = newProducts + products[products.length - 1][0]
            for (let i = 1; i < products[products.length - 1].length; i++){
                newProducts = newProducts + ",-" + products[products.length - 1][i]
            }
            console.log(newProducts)
            newProducts = newProducts + "; path=/commands";
            document.cookie = "products=" + newProducts;
        };
        function changetext(){
            let input = document.getElementById("commands");
            let listen = input.value.split(",");
            let products = getproducts();
            let number = products[products.length - 1][0]
            products[products.length - 1] = [number, ]
            for (let i = 0; i < listen.length; i++){
                console.log("oi")
                console.log(isNaN(Number(listen[i])))
                if (!isNaN(Number(listen[i]))){
                    products[products.length - 1].push(listen[i])
                }
            }
            listtostring(products)
        }
    </script>
    <div style="margin: auto; align-items: center; width: 300px;">
    <form>
        <p>comandas para dividir(separadas por virgula)</p>
        <input style="width: 300px;" id="commands" type="text" onchange="changetext()" value="{{value}}">
        </input>
    </form>
    </div>
    <nav class="class=navbar fixed-bottom" style="background-color:#ccc; height:80px">
    <a class="btn btn-success btn-lg" style="max-width: 40%; max-height:80%; margin-top:15px; margin-left:20px" href="{% url 'orderrevision' number %}">Voltar</a>
        
    </nav>
{% endblock %}
