{% extends "aplicacao/navbar.html" %}

{% block content %}
    <script>
        function getproducts(){
            let cookies = document.cookie.split("; ");
            for (let cookie of cookies){
                const [name, value] = cookie.split("=");
                if (name === "products"){
                    let products = value.split("|");
                    for (let i = 0; i < products.length - 1; i++){
                        products[i] = products[i].split(",-");
                        products[i][6] = products[i][6].split(".-");
                    }
                    products[-1] = products[-1].split(",-")
                    console.log(products)
                    return products
                }
            }
            return null
    }
        function listtostring(products){
            let newProducts;
            console.log(products)
            newProducts =products[0][0] + ",-" + products[0][1] + ",-" + products[0][2] + ",-" + products[0][3] + ",-" + products[0][4] + ",-" + products[0][5] ;
            if (products[0][6].length === 0){
                newProducts = newProducts + ",-|"
            } else {
                newProducts = newProducts + ",-" + products[0][6][0] 
                for (let i = 1; i < products[0][6].length; i++){
                    newProducts = newProducts + ".-" + products[0][6][i]
                }
                newProducts = newProducts + "|"
            }
            for (let i = 1; i < products.length - 1; i++){
                newProducts = newProducts + products[i][0] + ",-" + products[i][1] + ",-" + products[i][2] + ",-" + products[i][3] + ",-" + products[i][4] + ",-" + products[i][5] + ",-" ;
                if ((products[i][6] === "" && products[i][6].length === 1)|| products[i][6].length === 0){
                    newProducts = newProducts + "|";
                } else {
                    newProducts = newProducts + products[i][6][0];
                    for (let j = 1; j < products[i][6].length; j++ ){
                        newProducts = newProducts + ".-" +  products[i][6][j];
                    }
                    newProducts = newProducts + "|";
                }
            }
            newProducts = newProducts + products[-1][0]
            for (let i = 1; i < products[-1].length; i++){
                newProducts = newProducts + ",-" +
            }
            newProducts = newProducts + products[products.length - 1] + "; path=/commands";
            document.cookie = "products=" + newProducts;
        };
        function changetext(){
            let input = document.getElementById("commands")
            let listen = 
            let products = 
        }
    </script>
    <form>
        <input id="commands" type="text" onchange="changetext()" placeholder="comandas para dividir(separadas por virgula)">
        </input>
    </form>
{% endblock %}